/C++STL/C++STL/Debug/C++STL.tlog/unsuccessfulbuild
/C++STL/C++STL/Debug
/C++STL/C++STL/.vs/C++STL/v16/Browse.VC.db-shm
/C++STL/C++STL/.vs/C++STL/v16/Browse.VC.db-wal
/C++STL/C++STL/.vs/C++STL/v16/Browse.VC.opendb
/C++STL/C++STL/.vs
